%section#nonprofits
  .mw8.center.flex.flex-wrap.justify-center.items-start.tc
    - data.teams.teams.select(&:graduate).each do |team|
      .w-50.w-25-ns.mv4.hide-child.relative
        = partial 'components/plus_overlay'
        .w-100.bg-center.contain.h6{ style: "background-image: url(/images/#{team.logo})"}
        %a.mid-gray.no-underline{ "data-toggle": "modal", href: "#" }
          %h4= team.name
