%section.mw7.center.tc.pv4
  .container
    .row
      .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1.headline
        %h4.ma3
          At
          %a{ href: "http://wearecast.org.uk", class: "blue-green" } CAST
          we know that technology can revolutionise how we address social problems.
          %h4.ma3 So we developed Fuse. The world's only nonprofit technology accelerator. Fuse works with established nonprofits to build scalable, user-centred, digital services.
          %br
          %h4.ma3 Thanks to the support of Big Lottery Fund, we're expanding the reach of Fuse and are looking to recruit six nonprofit partners in 2017 and six more in 2018.
          %h4.ma3 Applications for 2017 are now closed, but do sign up to our newsletter (at the bottom of this page) for updates on our next intake.
