%section.pv4.ph4#partners
  .tc.center
    = partial "components/section_header", locals: { title: "Supporters and partners", light: true }
    .flex.flex-wrap.mw8.center.justify-center
      - data.partners.partners.select { |partner| partner.role == 'fuse' }.each do |partner|
        - squareClass = partner.square == true ? "ph4" : "ph3"

        .w-50.w-20-ns.pa2.flex.items-center.mb4
          %a{ href: "#{partner.link}", target: "_blank", class: "db #{squareClass}" }
            %img{ src: "/images/#{partner.image}", class: "w-100" }
