- bgColor = (defined? dividerColor) ? "bg-#{dividerColor}" : "bg-light-gray"
- divOffset = (defined? offset) ? "#{offset}px" : "-20px"

%span.empty.db.bg-light-gray.w-100{ style: "height: 1px; margin-top: #{divOffset}", class: bgColor }
