-# if you want to only show the overlay on hover
-# the parent of this component needs the ".hide-child" class
- _link = (defined? link) ? link : "#"

.child.w-100.h-100.absolute.top-0.left-0.br3.bg-light-red.bg-animate.flex.items-center.justify-center.transition-300
  %a.w-100.h-100.absolute.top-0.left-0{ href: "#{_link}", target: '_blank' }
  %span.child.t-all.ease
    %i.fa.fa-linkedin-square.white
