- textFill = (defined? light) ? "bg-white" : "bg-light-gray"
- lineFill = (defined? light) ? "bg-light-gray" : "bg-moon-gray"

%h2.tc.fw4.f3.pb4.pt3
  %span.ph3{ class: textFill } #{title}
  %span.empty.db.w-100{ style: "height: 1px; margin-top: -16px", class: lineFill }
