- textFill = (defined? light) ? "bg-white" : "bg-light-gray"
- lineFill = (defined? light) ? "bg-light-gray" : "bg-moon-gray"
- _title = (defined? title) ? title : ""

%h2.tc.fw4.f3.pb4.pt3
  %span.ph1.ph3-ns{ class: textFill } #{_title}
  %span.empty.db.w-100{ style: "height: 1px; margin-top: -16px", class: lineFill }
