%footer#newsletter.bg-mid-gray.pt3
  .tc
    %h5.ma0.pa4.white.f4.fw4 Sign up for our newsletter!

    / Begin MailChimp Signup Form
    #mc_embed_signup
      %form#mc-embedded-subscribe-form.validate{ action: "//wearecast.us10.list-manage.com/subscribe/post?u=a951b342ebe81b3e0d4e600c9&id=5195355831", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank" }

        .w-80.mw6-ns.center

          .mc-field-group
            %input#mce-FNAME.required.outline-0.f6.transition-300{ name: "FNAME", type: "text", value: "", placeholder: "First name" }

          .mc-field-group
            %input#mce-LNAME.required.outline-0.f6.transition-300{ name: "LNAME", type: "text", value: "", placeholder: "Last name" }

          .mc-field-group
            %input#mce-EMAIL.required.email.outline-0.f6.transition-300{ name: "EMAIL", type: "email", value: "", placeholder: "Email address" }

          #mce-responses.clear
            #mce-error-response.response{ style: "display: none;" }
            #mce-success-response.response{ style: "display: none;" }

          .clear
            %button#mc-embedded-subscribe.white.bg-light-red.f6.bn.pa3.br2{ name: "subscribe", type: "submit" } Subscribe

    %script{ src: "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", type: "text/javascript" }
    :javascript
      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
    / End mc_embed_signup

  .tc.pv3
    %p.f6.silver
      © 2016 CAST Reg Charity Number
      %a.no-underline.blue-green{href:  "http://beta.charitycommission.gov.uk/charity-details/?regid=1161998&subid=0"} 1161998
      Company number
      %a.no-underline.blue-green{href:  "https://beta.companieshouse.gov.uk/company/09544506"} 9544506
