%section#partners.section.section-our-clients
  .container
    %h2.section-title
      %span Supporters and partners
    .row
      - data.partners.partners.select { |partner| partner.role == 'fuse' }.each_with_index do |partner, i|
        .col-md-2.col-sm-3.col-xs-3{class: ('col-md-offset-1' if i < 1)}
          = link_to partner.link, target: '_blank' do
            = image_tag partner.image
