%header#header
  %nav#navbar.fixed.w-100.z-9999{ role: "navigation" }
    .w-100.flex.flex-column

      .navbar-header.flex.justify-end.bg-blue-green
        %button.navbar-toggle.bg-blue-green.bn.pa3.outline-0.dn-l{"data-target": "#navbar-collapse-1", "data-toggle": "collapse", type: "button"}
          %i.fa.fa-bars.white.f5

      #navbar-collapse-1.collapse.navbar-collapse
        .flex-l.flex-row-l.bg-blue-green.pt2-l.pb2-l.justify-end-l.pr5-l

          %ul#navigation.nav.navbar-nav.ma0.pa0.flex.flex-column.items-center.flex-row-l
            - liClass = "w-90 br2 w-auto-l tc-l ml2-l white hover-light-red hover-bg-white transition-300 transition-all"
            - data.navbar.headers.each_with_index do |header, i|
              %li{ class: "#{liClass}" ++ (i == 0 ? " active" : "") }
                = link_to header.title, header.href, class: "db pa3 f6 br2  pa3-l color-inherit"

          .social-links.dn.flex-l.flex-row-l.bg-blue-green.items-center-l.pl3-l.pr3-l
            - data.navbar.icons.each do |icon|
              %a{ href: icon.href, target: "_blank", class: "white pl3-l hover-light-red"}
                %i{class: icon.image }
