%header#header.site-header
  %nav#navbar.site-navbar.navbar.navbar-static-top{ role: 'navigation' }
    .container
      .navbar-header
        %button.navbar-toggle{'data-target': '#navbar-collapse-1', 'data-toggle': 'collapse', type: 'button'}
          %span.sr-only Toggle navigation
          %i.fa.fa-bars
        %h1.navbar-brand
          %a{ href: 'index.html' }
      #navbar-collapse-1.collapse.navbar-collapse
        .social-links
          %a{ href: 'https://twitter.com/@TechforgoodCAST', target: '_blank' }
            %i.fa.fa-twitter
          %a{ href: 'https://www.linkedin.com/company/cast-centre-for-the-acceleration-of-social-technology', target: '_blank' }
            %i.fa.fa-linkedin-square
          %a{ href: 'https://medium.com/@wearecast', target: '_blank' }
            %i.fa.fa-medium{ 'aria-hidden': 'true'}
        %ul#navigation.nav.navbar-nav.navbar-right
          %li.active
            %a.current{ href: '#header' } Home
          %li
            %a{ href: '#features' } What we do
          %li
            %a{ href: '#portfolio' } Our work
          %li
            %a{ href: '#get-involved' } Get involved
          %li
            %a{ href: '#clients' } Partners
          %li
            %a{ href: '#team' } Team
          %li
            %a{ href: '#contact' } Contact
