%section#clients.section.section-our-clients
  .container
    %h2.section-title
      %span Clients and Supporters

    .row
      - data.partners.partners.select { |partner| partner.role == 'cast' }.first(4).each do |partner|
        .col-md-3.col-sm-3.col-xs-3
          %a= image_tag partner.image

    .row
      - data.partners.partners.select { |partner| partner.role == 'cast' }.last(3).each_with_index do |partner, index|
        .col-md-3.col-sm-3.col-xs-3{ class: ('clients-bottom-row' if index < 1) }
          %a= image_tag partner.image
