%section#clients.section.section-our-clients
  .container
    %h2.section-title
      %span Clients and Supporters

    .row.portfolio-isotope

      - data.partners.partners.select { |partner| partner.role == 'cast'}.each_with_index do |partner, index|
        .portfolio-item.col-md-2.col-sm-4.col-xs-6{ class: ('col-md-offset-1' if index % 5 == 0) }
        = image_tag partner.image
