%section.pv4.ph4
  .tc.center
    = partial "components/section_header", locals: { title: "Clients and Supporters", light: true }
    .flex.flex-wrap.mw8.center
      - data.partners.partners.select { |partner| partner.role == 'cast' }.each do |partner|
        .w-50.w-16-ns.pa2
          %a= image_tag partner.image
