.modal.fade{ "aria-hidden": "true", "aria-labelledby": "fellowship-label", role: "dialog", tabindex: "-1", id: id }
  .bg-white.w-100.br1.center.pa3.relative.br2.mt5.w-75-ns
    %button.bn.bg-transparent.fr.f3.pointer.silver.outline-0.absolute{ "aria-hidden": "true", "data-dismiss": "modal", type: "button", style: "top: 0.3em; right: 0.1em" } ×
    %h4#project-modal-label.f5.mt2.f4-ns #{title}
    .modal-body
      %article.single-project
        .project-thumbnail
          .item.active
            = image_tag img, class: 'br2'
            %br
            = yield
