%section.pv4.ph4#partners
  .tc.center.mw8
    = partial "components/section_header", locals: { title: "Clients and Supporters", light: true }
    .flex.flex-wrap
      - data.partners.partners.select { |partner| partner.role == 'cast' }.each do |partner|
        - squareClass = partner.square == true ? "pa4" : "pa2"
        .w-50.w-16-ns.flex.items-center{ class: squareClass }
          %a= image_tag partner.image
