#age_uk.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "age_uk-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#project-modal-label.modal-title Age UK Islington and Islington Council
      .modal-body
        %article.single-project
          .project-thumbnail
            .item.active
              = image_tag 'ruler.jpg'
          
              %p We're working with Age UK Islington and Islington Council on the 'Realising the Value' project. A programme that is enabling service providers, commissioners and service users to collectively understand and assess the impact of wellbeing and prevention services happening across the borough.
