#fellowship.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "fellowship-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#project-modal-label.modal-title Digital Fellowship
      .modal-body
        %article.single-project
          .project-thumbnail
            .item.active
              = image_tag 'fellowshipSession.png'
              %br
              %p To transform the charity sector and enable it to put digital at the heart of its work, we need to support senior charity leaders and CEOs to understand the potential of digital.
              %p Our Digital Fellowship, funded by Comic Relief, is a carefully constructed learning programme that teaches its fellows the key aspects of the digital development, from paper prototyping to business modelling. We bring the leaders together to learn from industry experts as well as spending time with key organisations leading the field. The programme culminates in a design sprint with development teams from Founders & Coders for the Fellows to put what they've learnt into practice.
              %p
                = link_to 'Click here for more details about the programme', 'https://medium.com/@wearecast/diving-into-the-digital-fellowship-part-1-411119ad5039', target: '_blank'
