#meet_ups.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "meet_ups-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#project-modal-label.modal-title Tech for Good Meetup Group
      .modal-body
        %article.single-project
          .project-thumbnail
            .item.active
              = image_tag 'tfgMeetup.jpg'
        
              %p As a growing sector, it’s crucial that people find ways to come together, learn from one another and create opportunities - whether newcomers or those already dedicated to social tech.  In partnership with Bethnal Green Ventures, we run the #techforgood meetups, bi-monthly events that inspire, connect and help #techforgood entrepreneurs get and give support.
