= partial 'layouts/cast/modal_shell', locals: { id: "power_to_change", img: img, title: title } do
  %p We're working with The Power to Change charitable trust to support them to embed digital tools in their grant making processes, as well as exploring innovative digital approaches for impact measurement.
