#power_to_change.modal.fade{"aria-hidden": "true", "aria-labelledby": "power_to_change-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden": "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#project-modal-label.modal-title The Power to Change
      .modal-body
        %article.single-project
          .project-thumbnail
            .item.active
              = image_tag 'cogs.jpg'
              %br
              %p We're working with The Power to Change charitable trust to support them to embed digital tools in their grant making processes, as well as exploring innovative digital approaches for impact measurement.
