#ufi.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "ufi-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#project-modal-label.modal-title Ufi Vocational Technology Programme
      .modal-body
        %article.single-project
          .project-thumbnail
            .item.active
              = image_tag 'ufiBrainStorm.jpg'
          #.row
          #  .col-md-4
          #    %ul.list-unstyled.project-info
          #      %li
          #        %strong Type
          #        %span.pull-right Advising
          #      %li
          #        %strong Client
          #        %span.pull-right Ufi Charitable Trust
          #      %li
          #        %strong Year
          #        %span.pull-right 2015
          #  .col-md-8
              %p Post-16 vocational learning is of huge social and economic importance, yet it is often overlooked in favour of formal and academic education.  The Ufi Charitable Trust is in a position to address this and we worked with them to find and support the most innovative uses of technology, and to create wide-spread positive change through vocational learning.
