= partial 'layouts/cast/modal_shell', locals: { id: "ufi", img: img, title: title } do
  %p Post-16 vocational learning is of huge social and economic importance, yet it is often overlooked in favour of formal and academic education.  The Ufi Charitable Trust is in a position to address this and we worked with them to find and support the most innovative uses of tech, and to create widespread positive change through vocational learning.
