#ufi.modal.fade{"aria-hidden": "true", "aria-labelledby": "ufi-label", role: "dialog", tabindex: "-1"}
  .bg-white.w-75.br1.center.pa3.relative.br2
    %button.bn.bg-white.fr.f3.pointer.silver.outline-0.absolute.top-1.right-1{"aria-hidden": "true", "data-dismiss": "modal", type: "button"} ×
    %h4#project-modal-label.f4.mt2 Ufi Vocational Technology Programme
    .modal-body
      %article.single-project
        .project-thumbnail
          .item.active
            = image_tag 'ufiBrainStorm.jpg'
            %br
            %p Post-16 vocational learning is of huge social and economic importance, yet it is often overlooked in favour of formal and academic education.  The Ufi Charitable Trust is in a position to address this and we worked with them to find and support the most innovative uses of tech, and to create widespread positive change through vocational learning.
