body {
  margin: 0;
  font-family: Roboto, Lato, Helvetica, Arial;
  color: var(--mid-gray);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--roboto-slab);
}

p {
  font-size: var(--font-size-6);
}


.blue-green {
  color: var(--blue-green);
}

.bg-blue-green {
  background-color: var(--blue-green);
}

.w6 {
  width: 16rem;
}

.empty {
  content: "";
}

.w-16 {
  width: 16.66%;
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: #fff;
}

.transition-300 {
  transition-duration: 0.3s!important;
}

.no-pointer-events {
  pointer-events: none;
}

@media (--breakpoint-not-small) {
  .w-16-ns {
    width: 16.66%;
  }
}

@media (--breakpoint-medium) {
  .w-16-m {
    width: 16.66%;
  }
}
