body {
  margin: 0;
  font-family: Roboto, Lato, Helvetica, Arial;
  color: var(--mid-gray);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--roboto-slab);
}

p {
  font-size: var(--font-size-6);
}

.blue-green {
  color: var(--blue-green);
}

.bg-blue-green {
  background-color: var(--blue-green);
}

.w6 {
  width: 16rem;
}

.empty {
  content: "";
}

.w-16 {
  width: 16.66%;
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--spacing-medium);
  background-color: var(--black-70);
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  transition: 0.3s ease;
}

.fade {
  opacity: 0;
}

.fade.in {
  opacity: 1;
}

.modal-open {
  overflow: hidden;
}

.transition-300 {
  transition-duration: 0.3s!important;
}

.transition-all {
  transition-property: all;
}

.no-pointer-events {
  pointer-events: none;
}

@media (--breakpoint-not-small) {
  .w-16-ns {
    width: 16.66%;
  }
}

@media (--breakpoint-medium) {
  .w-16-m {
    width: 16.66%;
  }
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position:relative;
  height:0;
  overflow:hidden;
  -webkit-transition:height .35s ease;
  transition:height .35s ease
}

.active {
  background-color: var(--dark-red)
}
